nav {
  background-color: #43e895;
  height: 60px;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 10px;
}

nav h1 {
  font-size: 17px;
  margin: 5px 0;
}

.icon {
  height: 22px;
  border: none;
}

.home {
  visibility: hidden;
}
