nav {
  background-color: #43e895;
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  padding: 10px;
  position: relative;
}

nav h1 {
  font-size: 17px;
  margin: 5px 0;
}

.icon {
  height: 30px;
  position: absolute;
  bottom: 10px;
  right: 10px;
}
